/changelog.sh

/*.lnk
*.user

SubstanceDesigner/.autosave

/Assets/Houdini/backup
/Assets/SubstanceDesigner/.autosave
/Assets/**/Developer/


*.blend1

# Ignore everything in Exports
/Assets/Exports/*
# Ignore Houdini Cache
/Assets/**/.cache/*

/Local
/Temp

# But keep the .gitkeep files from Exports or other folders to push structure
!/**/.gitkeep